.shake:hover {
  animation: shake 1s linear infinite;
}

@keyframes shake{
  2%,64%{
    transform: rotate(14deg);
    transform-origin: center center;
  }
  4%,60%{
    transform: rotate(35deg);
    transform-origin: center center;
  }
  62%{
    transform: rotate(14deg);
    transform-origin: center center;
  }
}
